*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
}

#about{
    background: #0cff7e36;
}

/* Header */
header{
    background:#13ebef;
    color:rgb(0, 0, 0);
    padding:10px 12px;
    /* position:sticky; */
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:#00adb5;
}

/* Hero Section */
.hero{
    height: 100vh;
    background:linear-gradient(to right,#00adb5,#393e46);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h2{
    font-size:3rem;
}

.hero p{
    margin:15px 0;
    font-size:1.2rem;
}

.btn{
    display:inline-block;
    padding:10px 20px;
    background:white;
    color:#00adb5;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.btn:hover{
    background:#eeeeee;
}

/* Sections */
section{
    padding:80px 50px;
    text-align:center;
}

section h2{
    margin-bottom:20px;
    color:#222;
}

/* Projects */
.project-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}


.line{
    text-decoration: none;
    color: black;
}

.card{
    width:280px;
    padding:20px;
    background:#f4f4f4;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

/* contact */

#contact{
    background: rgb(237, 103, 237);
}

/* Footer */
footer{
    background:#222;
    color:whitesmoke;
    text-align:center;
    padding:15px;
}

/* Responsive */
@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .hero h2{
        font-size:2rem;
    }
}